.info {
    background-color: #985f0d;
}

#deaths-bar-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

div#scroll-table {
  clear:both;
  /*overflow:auto;*/
    overflow-x: scroll;
    overflow-y: scroll;
}