@media screen and (max-width: 768px) {
    body.application {
        padding-top: 120px;
    }
}

body.application {
    background: url("../images/world.jpg");
    background-attachment: fixed;
}

.dc-chart .deselected circle {
    fill: rgba(130,89,89,0.58);
}

.chart-wrapper{
    background-color: rgba(215,215,215,0.9);
}

.top-container {
    background-color: rgba(215, 215, 215, 0.9);
    padding-left:15px;
}

.dc-chart g.row text {
    fill: #000;
    font-size: 10px;
    cursor: crosshair;
}

.space{
    margin-bottom:10px;
}

.sub-container{
    background-color: rgba(215,215,215,0.9);
    border-radius: 2%;
    text-align:center;
    padding-top:15px;
}

.table-container{
    background-color: rgba(215,215,215,0.9);
    border-radius: 2%;
    padding-left:15px;
}

p.nice{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-size: 16px;
    line-height:24px;
}

table.def {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-size: 16px;
    line-height:24px;
}

.table>tbody>tr>td:last-child, .table>thead>tr>th:last-child {
    padding-left: 78px;
}

button.reset{
    display:inline-block;
}

.info {
    background-color: #985f0d;
}

a.menu{
    border: solid 1px #f2f2f2;
    color: #449d44;
    border-radius:4px;
}

#deaths-bar-chart .x.axis text {
    text-anchor: start !important;
    transform: rotate(45deg);
}

div#scroll-table {
  clear:both;
  overflow:auto;

}